/*-----------------------------------------------------------------------------------*/
/*  Buttons CSS
/*-----------------------------------------------------------------------------------*/

.zebras_button a{
  border:1px solid #000;
  color:#fff;
  font-family:arial;
  font-weight:bold;
  padding:8px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #000;
  display:block;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  margin: 0 10px 10px 0;
}
.zebras_button a:active{position:relative; top:1px}

/******************************************************
* sizes
******************************************************/

.zebras_button_big a{font-size:16px !important;padding: 20px 60px !important;}
.zebras_button_small a{font-size: 11px !important; padding: 6px 16px;}
.zebras_button_medium a{font-size: 12px; padding: 8px 22px; }

/******************************************************
* alignment
******************************************************/

.zebras_button_left {float: left;}
.zebras_button_left a{margin: 0 10px 10px 0;}
.zebras_button_right {float: right;}
.zebras_button_right a{margin: 0 0 10px 10px;}
.zebras_button_none {float: none; display: inline-block; zoom: 1; *display: inline; }

/******************************************************
* styles
******************************************************/

.zebras_button_round a {
  -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px
}
.zebras_button_less_round a {
  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px
}
.zebras_button_square a {
  -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px
}

/******************************************************
* colors
******************************************************/

/*black button*/
.zebras_button_gray a{
  -moz-box-shadow:inset 0px 1px 0px 0px #fff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff;
  box-shadow:inset 0px 1px 0px 0px #fff;
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#ededed),color-stop(1,#dfdfdf) );
  background:-moz-linear-gradient( center top,#ededed 5%,#dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',endColorstr='#dfdfdf');
  background-color:#ededed;
  border:1px solid #dcdcdc;
  color: #777;
  text-shadow:1px 1px 0px #fff;
}

.zebras_button_gray a:hover{
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#dfdfdf),color-stop(1,#ededed) );
  background:-moz-linear-gradient( center top,#dfdfdf 5%,#ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf',endColorstr='#ededed');
  background-color:#dfdfdf
}

/*black button*/
.zebras_button_blue a{
  -moz-box-shadow:inset 0px 1px 0px 0px #bdddff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bdddff;
  box-shadow:inset 0px 1px 0px 0px #bdddff;
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#7db8ff),color-stop(1,#2c80e8) );
  background:-moz-linear-gradient( center top,#7db8ff 5%,#2c80e8 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db8ff',endColorstr='#2c80e8');
  background-color:#7db8ff;
  border:1px solid #047fd1;
  color:#fff;
}

.zebras_button_blue a:hover{
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#2c80e8),color-stop(1,#7db8ff) );
  background:-moz-linear-gradient( center top,#2c80e8 5%,#7db8ff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c80e8',endColorstr='#7db8ff');
  background-color:#2c80e8
}

/*black button*/
.zebras_button_red a{
  -moz-box-shadow:inset 0px 1px 0px 0px #ffa6a6;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffa6a6;
  box-shadow:inset 0px 1px 0px 0px #ffa6a6;
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#f55858),color-stop(1,#ba1c1c) );
  background:-moz-linear-gradient( center top,#f55858 5%,#ba1c1c 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f55858',endColorstr='#ba1c1c');
  background-color:#f55858;
  border:1px solid #8a0a0a;
}

.zebras_button_red a:hover{
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#ba1c1c),color-stop(1,#f55858) );
  background:-moz-linear-gradient( center top,#ba1c1c 5%,#f55858 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ba1c1c',endColorstr='#f55858');
  background-color:#ba1c1c
}

/*black button*/
.zebras_button_green a{
  -moz-box-shadow:inset 0px 1px 0px 0px #39de10;
  -webkit-box-shadow:inset 0px 1px 0px 0px #39de10;
  box-shadow:inset 0px 1px 0px 0px #39de10;
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#13c20a),color-stop(1,#05ad19) );
  background:-moz-linear-gradient( center top,#13c20a 5%,#05ad19 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#13c20a',endColorstr='#05ad19');
  background-color:#13c20a;
  border:1px solid #169124;
}

.zebras_button_green a:hover{
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#05ad19),color-stop(1,#13c20a) );
  background:-moz-linear-gradient( center top,#05ad19 5%,#13c20a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#05ad19',endColorstr='#13c20a');
  background-color:#05ad19
}

/*black button*/
.zebras_button_black a{
  -moz-box-shadow:inset 0px 1px 0px 0px #8a8a8a;
  -webkit-box-shadow:inset 0px 1px 0px 0px #8a8a8a;
  box-shadow:inset 0px 1px 0px 0px #8a8a8a;
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#525252),color-stop(1,#000) );
  background:-moz-linear-gradient( center top,#525252 5%,#000 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#525252',endColorstr='#000');
  background-color:#525252;
}
.zebras_button_black a:hover{
  background:-webkit-gradient( linear,left top,left bottom,color-stop(0.05,#000),color-stop(1,#525252) );
  background:-moz-linear-gradient( center top,#000 5%,#525252 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000',endColorstr='#525252');
  background-color:#000
}

/*========== COLUMNS LAYOUT ==========*/
.size{
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.size.size-one{
    width: 100%;
    margin-right: 0;
}
.size.size-two{
    width: 49%;
}
.size.size-three{
    width: 32%;
}
.size.size-three-two{
    width: 66%;
}
.size.size-four{
    width: 23.5%;
}
.size.size-four-two{
    width: 49%;
}
.size.size-four-three{
    width: 74.5%;
}
.size.last-size{
    margin-right: 0;
}


/*========== BOXES STYLE ==========*/
.zebras_box{
  margin: 15px 0;
  text-shadow: 0 0 2px #fff;
  position: relative;
}
.zebras_box_inner{
  background-repeat: no-repeat;
  background-position: 15px 50%;
  padding: 15px 15px 15px 55px;
  border:1px solid #fff;
}

.zebras_box:before{
  background: url(../images/box-close-icon.png) no-repeat right center;
  width: 10px;
  height: 10px;
  content: '';
  position: absolute;
  right: 8px;
  top: 9px;
}
.zebras_box:before:hover{
  cursor: pointer;
}
.zebras_box_success{
  background: rgb(197,239,139); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjNWVmOGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNjZGVkYTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzVlZjhiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(197,239,139,1) 0%, rgba(205,237,161,1) 50%, rgba(197,239,139,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(197,239,139,1)), color-stop(50%,rgba(205,237,161,1)), color-stop(100%,rgba(197,239,139,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(197,239,139,1) 0%,rgba(205,237,161,1) 50%,rgba(197,239,139,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(197,239,139,1) 0%,rgba(205,237,161,1) 50%,rgba(197,239,139,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(197,239,139,1) 0%,rgba(205,237,161,1) 50%,rgba(197,239,139,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(197,239,139,1) 0%,rgba(205,237,161,1) 50%,rgba(197,239,139,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5ef8b', endColorstr='#c5ef8b',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  color: #6c8623;
  border: 1px solid rgb(155, 192, 103);
  box-shadow: 0 0 3px rgb(155,192,103);
}
.zebras_box_success .zebras_box_inner{
  background-image: url(../images/box-success-icon.png);
}

.zebras_box_warning{
  background: rgb(255,196,140); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmM0OGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZmM5OWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZjNDhjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,196,140,1) 0%, rgba(255,201,155,1) 50%, rgba(255,196,140,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,196,140,1)), color-stop(50%,rgba(255,201,155,1)), color-stop(100%,rgba(255,196,140,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,196,140,1) 0%,rgba(255,201,155,1) 50%,rgba(255,196,140,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,196,140,1) 0%,rgba(255,201,155,1) 50%,rgba(255,196,140,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(255,196,140,1) 0%,rgba(255,201,155,1) 50%,rgba(255,196,140,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(255,196,140,1) 0%,rgba(255,201,155,1) 50%,rgba(255,196,140,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc48c', endColorstr='#ffc48c',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

  color: rgb(182, 93, 9);
  border: 1px solid rgb(252, 126, 6);
  box-shadow: 0 0 3px rgb(248, 201, 156);
}

.zebras_box_warning .zebras_box_inner{
  background-image: url(../images/box-warning-icon.png);
}

.zebras_box_error{
  background: rgb(242,135,135); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2YyODc4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2YyODc4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMjg3ODciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(242,135,135,1) 1%, rgba(242,135,135,1) 47%, rgba(242,135,135,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(242,135,135,1)), color-stop(47%,rgba(242,135,135,1)), color-stop(100%,rgba(242,135,135,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,135,135,1) 1%,rgba(242,135,135,1) 47%,rgba(242,135,135,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,135,135,1) 1%,rgba(242,135,135,1) 47%,rgba(242,135,135,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,135,135,1) 1%,rgba(242,135,135,1) 47%,rgba(242,135,135,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(242,135,135,1) 1%,rgba(242,135,135,1) 47%,rgba(242,135,135,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28787', endColorstr='#f28787',GradientType=0 ); /* IE6-8 */
  color: rgb(117, 29, 29);
  border: 1px solid rgb(245, 135, 135);
  box-shadow: 0 0 3px rgb(250, 172, 172);
}

.zebras_box_error .zebras_box_inner{
  background-image: url(../images/box-error-icon.png);
}
.zebras_box_info{
  background: rgb(191,231,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZTdmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2I1ZTJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZmU3ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(191,231,255,1) 0%, rgba(181,226,255,1) 47%, rgba(191,231,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,231,255,1)), color-stop(47%,rgba(181,226,255,1)), color-stop(100%,rgba(191,231,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,231,255,1) 0%,rgba(181,226,255,1) 47%,rgba(191,231,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,231,255,1) 0%,rgba(181,226,255,1) 47%,rgba(191,231,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,231,255,1) 0%,rgba(181,226,255,1) 47%,rgba(191,231,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,231,255,1) 0%,rgba(181,226,255,1) 47%,rgba(191,231,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe7ff', endColorstr='#bfe7ff',GradientType=0 ); /* IE6-8 */
  color: rgb(65, 150, 202);
  border: 1px solid rgb(124, 197, 241);
  box-shadow: 0 0 3px rgb(161, 217, 252);
}
.zebras_box_info .zebras_box_inner{
  background-image: url(../images/box-info-icon.png);
}
.zebras_box_note{
  background: rgb(240,240,240); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ3JSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(240,240,240,1) 0%, rgba(250,250,250,1) 47%, rgba(240,240,240,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(47%,rgba(250,250,250,1)), color-stop(100%,rgba(240,240,240,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(250,250,250,1) 47%,rgba(240,240,240,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(250,250,250,1) 47%,rgba(240,240,240,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(240,240,240,1) 0%,rgba(250,250,250,1) 47%,rgba(240,240,240,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(240,240,240,1) 0%,rgba(250,250,250,1) 47%,rgba(240,240,240,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-8 */

  color: rgb(158, 158, 158);
  border: 1px solid rgb(194, 194, 194);
  box-shadow: 0 0 3px #ccc;
}
.zebras_box_note .zebras_box_inner{
  background-image: url(../images/box-note-icon.png);
}
.zebras_box_normal{
  border: 1px solid #ccc;
  background: white;
  color: #666;
  box-shadow: 0 0 3px #ccc;
}
.zebras_box_normal .zebras_box_inner{
  background-image: none;
  padding-left: 15px;
}

.zebras_box_round, .zebras_box_round .zebras_box_inner{
  -moz-border-radius:15px; -webkit-border-radius:15px; border-radius:15px
}
.zebras_box_less_round, .zebras_box_less_round .zebras_box_inner{
  -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px
}
.zebras_box_square, .zebras_box_square .zebras_box_inner{
  -moz-border-radius:1px; -webkit-border-radius:1px; border-radius:1px
}

.zebras_toggle{

}
.zebras_toggle .zebras_toggle_title{
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  box-shadow: 0px 1px 3px #aaa;
  outline: none;
  color: #999;
  text-shadow: 1px 1px 1px #fff;
}
.zebras_toggle .zebras_toggle_title .toggle_title_inner{
  background: url(../images/toggle-close-icon.png)no-repeat right 50% ;
  padding: 15px 20px 15px 15px;
}
.zebras_toggle .zebras_toggle_title.ui-accordion-header-active .toggle_title_inner{
  background: url(../images/toggle-open-icon.png)no-repeat right 50% ;
}

.zebras_toggle .zebras_toggle_title:hover{cursor: pointer;}
.zebras_toggle .zebras_toggle_content{
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

/*========== DROPCAPS ==========*/
.zebras_dropcap {
  font-size: 600%;
  float: left;
  line-height: 0.8em;
  font-family: Serif;
  font-weight: bold;
  position: relative;
  left: -3px;
  text-transform: uppercase;
}
.zebras_dropcap_gray{
  color:gray;
}
.zebras_dropcap_blue{
  color:blue;
}
.zebras_dropcap_green{
  color:green;
}
.zebras_dropcap_black{
  color:black;
}
/*========== QUOTES ==========*/

.zebras_quote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.4em 1.25em 0.4em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  display: inline-block;
}
.zebras_quote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

.zebras_quote:after {
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: -5px;
  bottom: -65px;
  color: #7a7a7a;
}

/*========== TESTIMONIAL ==========*/

.zebras_testimonial{
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  position: relative;
}

.zebras_testimonial:after,
.zebras_testimonial:before {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 20px solid #fff;
    bottom: -20px;
    content: '';
    right: 50px;
    margin-right: -21px;
    position: absolute;
}

/* Styling for second triangle (border) */

.zebras_testimonial:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 21px solid;
    border-top-color: inherit;
    bottom: -21px;
    margin-right: -22px;
}
.zebras_testimonial_inner{
  padding: 25px 30px 25px 70px;
  position: relative;
  line-height: 20px;
}
.zebras_testimonial_inner:before{
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: 15px;
  top: 50px;
  color: #7a7a7a;
}
.testimonial_person_detail{
  float: right;
  position: relative;
  padding-top: 25px;
  text-align: right;
}
.testimonial_person_name{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 1px #fff;
}
.testimonial_person_title{
  font-size: 12px;
  font-style: italic;
  color: #999;
}
/*========== DIVIDERS ==========*/

.zebras_divider{
  clear: both;
  box-shadow: none;
  border-width: 0px 0px 1px;
  margin-bottom: 40px;
}
.zebras_divider_normal{
  border: 1px solid #ddd;
  border-top: 0;
}
.zebras_divider_style1{
  background: rgba(221, 221, 221, 0.48) url(../images/bg-pattern.png) repeat;
  height: 10px;
  border:none;
}
.zebras_divider_style2{
  background: url(../images/divider-style2.png) repeat;
  height: 10px;
  border:none;
}
.zebras_divider_style3{
  background: url(../images/divider-style3.png) repeat bottom;
  height: 11px;
  border: none;
}

.zebras_divider_style4{
  border-style: dashed;
  border-width: 1px;
  border-top: 0;
  color: #b9b9b9;
}

.zebras_divider_style5{
  border-width: 2px;
  border-top: 0;
  border-color: #ccc;
  box-shadow: 0 1px 4px rgba(153, 153, 153, 0.33);
}
.zebras_divider_style6{
  border-style: dotted;
  border-width: 2px;
  border-top: 0;
  color: #b9b9b9;
}
.zebras_divider_style7{
  background: url(../images/divider-style7.png) repeat bottom;
  height: 11px;
  border: none;
}
