/*========== LAYOUT ==========*/
.size{
  float: left;
  margin-right: 2%;
}
.size.size-one{
    width: 100%;
    margin-right: 0;
}
.size.size-two{
    width: 47%;
}
.size.size-three{
    width: 31.333333%;
}
.size.size-three-two{
    width: 66.666667%;
}
.size.size-four{
    width: 23.5%;
}
.size.size-four-three{
    width: 74.5%;
}
.size.last-size{
    margin-right: 0;
}
