/* line 11, ../sass/green.scss */
#header #header_navigation li.current-menu-item a {
  background: #e9c4bc;
}
/* line 16, ../sass/green.scss */
#header #header_navigation li.menu-parent-item .sub-menu li a {
  background: #4f4f4f;
}

/* line 24, ../sass/green.scss */
#main_content .widget {
  background: #5e504b;
}
/* line 27, ../sass/green.scss */
#main_content .widget .tagcloud a {
  background: #e9c4bc;
}
/* line 29, ../sass/green.scss */
#main_content .widget .tagcloud a:hover {
  background: #fff;
}

/* line 36, ../sass/green.scss */
.post_content {
  background: #d9d3c6;
  padding: 2%;
}
/* line 39, ../sass/green.scss */
.post_content .meta {
  border-bottom: 1px solid #b9b5ac;
  padding-bottom: 20px;
}

/* line 44, ../sass/green.scss */
.post_date {
  background: #e9c4bc;
}

/* line 47, ../sass/green.scss */
.post_title a, .post_title {
  color: #4f4f4f;
}

/* line 53, ../sass/green.scss */
.post_container .post_content .meta a:hover {
  color: #fff;
}

/* line 60, ../sass/green.scss */
.post_tags a {
  background: #e9c4bc;
}

/* line 65, ../sass/green.scss */
#comments .comment {
  background: #d9d3c6;
}
/* line 67, ../sass/green.scss */
#comments .comment .comment-edit-link {
  background: #5e504b;
}
/* line 71, ../sass/green.scss */
#comments .avatar {
  background: #e9c4bc;
}
