/* line 9, ../sass/orange.scss */
#header #header_navigation li.current-menu-item a {
  background: #f54828;
}
/* line 14, ../sass/orange.scss */
#header #header_navigation li.menu-parent-item .sub-menu li a {
  background: #4f4f4f;
}

/* line 22, ../sass/orange.scss */
.post_date {
  background: #f54828;
}

/* line 25, ../sass/orange.scss */
.post_title a {
  color: #f54828;
}
