/* line 9, ../sass/red.scss */
#header #header_navigation li.current-menu-item a {
  background: #b11623;
}
/* line 14, ../sass/red.scss */
#header #header_navigation li.menu-parent-item .sub-menu li a {
  background: #4f4f4f;
}

/* line 22, ../sass/red.scss */
.post_date {
  background: #b11623;
}

/* line 25, ../sass/red.scss */
.post_title a {
  color: #b11623;
}
